*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Poppins', sans-serif;
}
.container{
    display: flex;
    width: 800px;
    height: 500px;
    background-color: aliceblue;
}
.container .btn{
    padding: 10px 40px 10px 40px;
    border: none;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}
/* Left-Side */
.container .left{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 2.5rem;
    text-align: center;
}
.container .left h2{
    font-size: 3rem;
    font-weight: 700;
}
.container .left .icons{
    display: flex;
    gap: 2rem;
}
.container .left .icons i{
    border: 2px solid grey;
    padding: 5px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    font-size: 1.5rem;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
}
.container .left .icons i:hover{
    cursor: pointer;
    border:2px solid #E24355;
    color: #E24355;
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
}
.container .left .icons i:first-child{
    padding: 5px 12px;
}
.container .left .icons i:last-child{
    padding: 5px 10px;
}
.container .left p{
    font-size: 0.8rem;
    margin-bottom: 0;
    color: grey;
}
.container .left .inputs{
    width: 100%;
}
.container .left .inputs input{
    width: 100%;
    padding: 0.5rem;
    border: none;
    outline: none;
    margin-bottom: 0.8rem;
    line-height: 1.6rem;
    background-color: rgb(230, 227, 227);
}
.container .left .inputs input:last-child{
    margin-bottom: 0.2rem;
}
.container .left .forget{
    font-size: 0.9rem;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
}
.container .left .forget:hover{
    cursor: pointer;
    color: #E24355;
    text-decoration: underline;
    font-weight: 700;
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}
.container .left .btn-left{
    background-color: #E24355;
    color: aliceblue;
    font-weight: 600;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    border: 3px solid aliceblue;
}
.container .left .btn-left:hover{
    background-color: aliceblue;
    border: 3px solid #E24355;
    color: #E24355;
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    cursor: pointer;
}

/* Right-Side */
.container .right{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2.5rem;
    text-align: center;
    background:linear-gradient(275deg,#E24355,#E13D6B);
    color: aliceblue;
}
.container .right h2{
    font-size: 2.2rem;
    margin-bottom: 1rem;
}
.container .right p{
    margin-bottom: 1.3rem;
}
.container .right .btn-right{
    background-color: #E24355;
    border: 3px solid aliceblue;
    color: aliceblue;
    font-weight: 600;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
}
.container .right .btn-right:hover{
    background-color: aliceblue;
    color: #E24355;
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    cursor: pointer;
}